 html, body, div, span,
    h1, h2, h3, h4, h5, h6, p,
    img, ul, li, footer, header {
        margin: 0;
        padding: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

body {
    background-attachment: fixed;
    background-image: url("img/owl.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    font-family: 'Myriad Pro';
}

footer {
    font-family: 'Myriad Pro';
    position: relative;
    margin: auto;
    text-align: left;
    left: 40px;
    right: 0;
    top: 7.5cm;
    bottom: 0;
    height: 3cm;
    
}

h1 {
    font-family: 'Myriad Pro';
    font-size: 72px;
    color: #1E1E1E;
    text-shadow: 1px 1px #000000;
}

p {
    text-indent: 40px;
}

a {
    text-decoration: none;
    color: #959595;
    }
    
.list { margin-bottom:30px; }
    .list a { font-size: 17px; }
    .list li { list-style: none; }

    .social ul { margin: 20px 0 0 -20px; list-style: none; }
    .social li { margin-left:20px; float:left; }
    .social a {
        display:block;
        width:32px;
        height:32px;
        text-indent:-9999px;
        opacity: 0.6;
    }
    .social a:hover { opacity: 1.0; }

    .social .google { background: url(img/all.png) 0 0; }
    .social .facebook { background: url(img/all.png) -32px 0; }
    .social .twitter { background: url(img/all.png) -64px 0; }
    .social .linkedin { background: url(img/all.png) -96px 0; }
    .social .github { background: url(img/all.png) -128px 0; }
    .social .society6 {background: url(img/s6.png) -128px 0; }

#container {
    position: absolute;
    margin: 50px 0 0  200px;
    width: 600px;
}

#bottom {
    position: relative;
    margin: auto;
    text-align: left;
    left: 40px;
    right: 0;
    top: 8cm;
    bottom: 0;
    height: 3cm;
}

#center {
    position: absolute;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 3cm;
}